#
# $Id$
#
# Defines properties related to the model viewer JWS deployment.

web_dir = /export/devel/bang/pages/pseditor
application_uri = http://dev.banghowdy.com/pseditor

sign.alias = whomever
sign.keystore = /path/to/keystore.dat
sign.storepass = secret_password
