/* -------------------------------------------------
   CONTENT
------------------------------------------------- */

#AboutFrontier {
    background-image: url("/images/town/frontier/about_frontier.png");
	position: relative;
	top: 0px;
	left: 0px;
	margin: 0px;
	padding:0px;
	width: 810px;
	height: 232px;
}

#ContentFrontier {
    position: absolute;
	top: 70px;
	left: 50px;
	margin: 0px;
	padding: 0px;
	width: 700px;
	text-align: center;
}

#Chosen {
  	position: absolute;
  	background-image: url("/images/town/nav_frontier.png"); 
 	width: 140px;
  	height: 33px;
  	top: 6px;
  	left: 64px;
  	margin: 0px;
  	padding: 0px;
  	text-decoration: none;
  	overflow: hidden;
  	z-index: 2;
  }



