/* -------------------------------------------------
   CONTENT
------------------------------------------------- */

#AboutFrontier {
    background-image: url("/images/town/frontier/about_frontier.png");
	position: relative;
	top: 0px;
	left: 0px;
	margin: 0px;
	padding:0px;
	width: 810px;
	height: 252px;
}

#ContentFrontier {
    position: absolute;
	top: 110px;
	left: 220px;
	margin: 0px;
	padding: 0px;
	width: 550px;
	text-align: left;
}

#Chosen {
  	position: absolute;
  	background-image: url("/images/town/nav_frontier.png"); 
 	width: 141px;
  	height: 35px;
  	top: 7px;
  	left: 65px;
  	margin: 0px;
  	padding: 0px;
  	text-decoration: none;
  	overflow: hidden;
  	z-index: 2;
  }



