/* -------------------------------------------------
   CONTENT
------------------------------------------------- */

#Index {
    background-image: url("/images/index/index_bkg.png");
	position: relative;
	top: 0px;
	left: 0px;
	margin: 0px;
	padding:0px;
	width: 800px;
	height: 565px;
}

/* -------------------------------------------------
   LINKS
------------------------------------------------- */
#linkplayB a {
  	position: absolute;
 	width: 275px;
  	height: 89px;
  	top: 284px;
  	left: 119px;
  	margin: 0px;
  	padding: 0px;
  	text-decoration: none;
  	overflow: hidden;
  	
  }

#linkplayB a i { 
	visibility: hidden; 
}

a#btnplayB:hover { 
	background-image: url("/images/index/playnow.png"); 
	border: none;
}

#linkdl a {
  	position: absolute;
 	width: 107px;
  	height: 23px;
  	top: 377px;
  	left: 151px;
  	margin: 0px;
  	padding: 0px;
  	text-decoration: none;
  	overflow: hidden;
  }

#linkdl a i { 
	visibility: hidden; 
}

a#btndl:hover { 
	background-image: url("/images/index/download.png"); 
	border: none;
}

#linkblog a {
  	position: absolute;
 	width: 131px;
  	height: 24px;
  	top: 469px;
  	left: 214px;
  	margin: 0px;
  	padding: 0px;
  	text-decoration: none; 
  	overflow: hidden;
  	
  }

#linkblog a i { 
	visibility: hidden; 
}

a#btnblog:hover { 
	background-image: url("/images/index/blog.png"); 
	border: none;
}

#linkfrontier a {
  	position: absolute;
 	width: 196px;
  	height: 134px;
  	top: 73px;
  	left: 553px;
  	margin: 0px;
  	padding: 0px;
  	text-decoration: none;
  	overflow: hidden;
  }

#linkfrontier a i { 
	visibility: hidden; 
}

a#btnfrontier:hover { 
	background-image: url("/images/index/frontier.png"); 
	border: none;
}

#linkitp a {
  	position: absolute;
 	width: 196px;
  	height: 133px;
  	top: 256px;
  	left: 553px;
  	margin: 0px;
  	padding: 0px;
  	text-decoration: none;
  	overflow: hidden;
  }

#linkitp a i { 
	visibility: hidden; 
}

a#btnitp:hover { 
	background-image: url("/images/index/itp.png"); 
	border: none;
}
