/* -------------------------------------------------
   CONTENT
------------------------------------------------- */

#AboutITP {
    background-image: url("/images/town/itp/about_itp.png");
	position: relative;
	top: 0px;
	left: 0px;
	margin: 0px;
	padding:0px;
	width: 810px;
	height: 288px;
}

#ContentITP {
    position: absolute;
	top: 80px;
	left: 50px;
	margin: 0px;
	padding: 0px;
	width: 700px;
	text-align: center;
}

#Chosen {
  	position: absolute;
  	background-image: url("/images/town/nav_itp.png"); 
 	width: 178px;
  	height: 33px;
  	top: 6px;
  	left: 306px;
  	margin: 0px;
  	padding: 0px;
  	text-decoration: none;
  	overflow: hidden;
  	z-index: 2;
}



