/* -------------------------------------------------
   CONTENT
------------------------------------------------- */

#Launch {
    background-image: url("/images/launch/launch_bkg.png");
	position: relative;
	top: 0px;
	left: 0px;
	margin: 0px;
	padding:0px;
	width: 810px;
	height: 452px;
}

#LaunchPanel {
    position: absolute;
	top: 46px;
	left: 22px;
	margin: 0px;
	padding:0px;
	width: 490px;
	height: 364px;
}

#NoJava {
    background-image: url("/images/launch/launch_panel.png");
    position: absolute;
	top: 0px;
	left: 10px;
	margin: 0px;
	padding:0px;
	width: 475px;
	height: 339px;
	z-index: 2;
}

/* -------------------------------------------------
   LINKS
------------------------------------------------- */
#linkjava a {
  	position: absolute;
 	width: 118px;
  	height: 14px;
  	top: 228px;
  	left: 344px;
  	margin: 0px;
  	padding: 0px;
  	text-decoration: none;
  	overflow: hidden;	
  	z-index: 3;
	
  }

#linkjava a i { 
	visibility: hidden; 
}

a#btnjava:hover { 
	background-image: url("/images/launch/java.png"); 
	border: none;
}

#linkdl a {
  	position: absolute;
 	width: 201px;
  	height: 14px;
  	top: 278px;
  	left: 69px;
  	margin: 0px;
  	padding: 0px;
  	text-decoration: none;
  	overflow: hidden;
  	z-index: 3;
  }

#linkdl a i { 
	visibility: hidden; 
}

a#btndl:hover { 
	background-image: url("/images/launch/download.png"); 
	border: none;
}

#linkaccountB a {
  	position: absolute;
 	width: 174px;
  	height: 23px;
  	top: 66px;
  	left: 568px;
  	margin: 0px;
  	padding: 0px;
  	text-decoration: none;
  	overflow: hidden;
  	
  }

#linkaccountB a i { 
	visibility: hidden; 
}

a#btnaccountB:hover { 
	background-image: url("/images/launch/account.png"); 
	border: none;
}

#linkscreenB a {
  	position: absolute;
 	width: 201px;
  	height: 24px;
  	top: 140px;
  	left: 568px;
  	margin: 0px;
  	padding: 0px;
  	text-decoration: none;
  	overflow: hidden;
  	
  }

#linkscreenB a i { 
	visibility: hidden; 
}

a#btnscreenB:hover { 
	background-image: url("/images/launch/screenB.png"); 
	border: none;
}

#linkdlB a {
  	position: absolute;
 	width: 93px;
  	height: 28px;
  	top: 221px;
  	left: 552px;
  	margin: 0px;
  	padding: 0px;
  	text-decoration: none;
  	overflow: hidden;
  }

#linkdlB a i { 
	visibility: hidden; 
}

a#btndlB:hover { 
	background-image: url("/images/launch/downloadB.png"); 
	border: none;
}

