/* -------------------------------------------------
   CONTENT
------------------------------------------------- */

#Chosen {
  	position: absolute;
  	background-image: url("/images/screenshots/nav_frontier.png"); 
 	width: 142px;
  	height: 36px;
  	top: 47px;
  	left: 58px;
  	margin: 0px;
  	padding: 0px;
  	text-decoration: none;
  	overflow: hidden;
  	z-index: 2;
  	
  }










