/* -------------------------------------------------
   CONTENT
------------------------------------------------- */

#ScreenNav {
    background-image: url("/images/screenshots/screennav.png");
	position: relative;
	top: 0px;
	left: 0px;
	margin: 0px;
	padding:0px;
	width: 810px;
	height: 89px;
}

#Screens {
    text-align: center;
}

/* -------------------------------------------------
   LINKS
------------------------------------------------- */
#linkfrontier a {
  	position: absolute;
 	width: 139px;
  	height: 36px;
  	top: 47px;
  	left: 59px;
  	margin: 0px;
  	padding: 0px;
  	text-decoration: none;
  	overflow: hidden;
  	z-index: 3;
  }

#linkfrontier a i { 
	visibility: hidden; 
}

a#btnfrontier:hover { 
	background-image: url("/images/screenshots/nav_frontier.png"); 
	border: none;
	z-index: 3;
}

#linkitp a {
  	position: absolute;
 	width: 178px;
  	height: 36px;
  	top: 47px;
  	left: 301px;
  	margin: 0px;
  	padding: 0px;
  	text-decoration: none;
  	overflow: hidden;
  	z-index: 3;
  }

#linkitp a i { 
	visibility: hidden; 
}

a#btnitp:hover { 
	background-image: url("/images/screenshots/nav_itp.png"); 
	border: none;
	z-index: 3;
}








