/* -------------------------------------------------
   CONTENT
------------------------------------------------- */

#Content {
  width: 780px;
  margin-left: 14px;
  margin-right: 15px;
}

td {
  font-family: Times New Roman, Times, serif;
  font-size: 16px;
}

.dialogBox {
  border: none;
  background: none;
}

.dialogBox .Caption {
  width: 100%;
  text-align: left;
  font-size: 20px;
  font-weight: bold;
  background: none;
  border: none;
  padding: 5px;
}

.dialogBox .Content { 
  background: url(/images/support/center.png);
}
.dialogBox .TopLeft { 
  width: 23px; height: 23px; 
  background: url(/images/support/top_left.png);
}
.dialogBox .Top {
   width: 23px; height: 23px;
   background: url(/images/support/top.png);
}
.dialogBox .TopRight {
   width: 23px; height: 23px;
   background: url(/images/support/top_right.png);
}
.dialogBox .Left {
  width: 23px; height: 23px;
  background: url(/images/support/left.png);
}
.dialogBox .Right {
  width: 23px; height: 23px;
  background: url(/images/support/right.png);
}
.dialogBox .BottomLeft {
  width: 23px; height: 23px;
  background: url(/images/support/bottom_left.png);
}
.dialogBox .Bottom {
  width: 23px; height: 23px;
  background: url(/images/support/bottom.png);
}
.dialogBox .BottomRight {
  width: 23px; height: 23px;
  background: url(/images/support/bottom_right.png);
}

.userContents {
  width: 780px;
}

.loginPanel {
  text-align: right;
  padding: 0px;
  margin: 0px;
  border: none;
}

.faqTitle {
  font-size: 24px;
}

.faqCategory {
  font-family: 
}

.faqAnswer {
  width: 600px;
  text-align: left;
  padding: 5px;
}
