<table>
<tr><td colspan="2" class="headline" align="center">
  $i18n.xlate("m.top_scores")
</td></tr>
<tr>
#set ($lidx = 0)
#foreach ($list in $lists)
  <td valign="top" width="230">

  <table><tr><td align="center" colspan="2" class="cathead">
    <b>$i18n.xlate($list.criterion)</b>
  </td></tr>
  <tr><td align="center" valign="center">
    #if ($data.length($list.players) > 0)
      #if ($list.topDogSnapshot)
      <img src="$list.topDogSnapshotURL"><br>
      #else
      <img src="resource:///ui/pardners/silhouette.png"><br>
      #end
      <b>1. $data.get($list.players, 0)</b></td>
      <td valign="top">
      #foreach ($player in $list.players)
        #if ($velocityCount > 1)
        ${velocityCount}. $player<br>
        #end
      #end
    #end
    </td>
  </tr>
  </table>
  </td>
  #if (($lidx % 2) == 1)
  </tr><tr><td colspan="3">&nbsp;</td></tr><tr>
  #end
  #set ($lidx = $lidx + 1)
#end
</tr>
</table>
