#
# $Id$
#
# Configuration for the Bang! client/editor deployment

#
# The base URL for downloading and patching the client and the document root
# for said server

root_url = http://localhost
web_dir = pages

#
# The host and port to use when connecting to the server

server_host = game.banghowdy.com
# server_port = 47624

#
# The URL to which we submit bug reports

bug_submit_url = http://www.banghowdy.com/hemiptera/submit.xhtml

#
# Specifies the locale for this deployment. This is used to ensure that the
# same language specific name handling routines are used on client and server.

default_locale = en

#
# These are used by the installer and game launcher.

client_ident = client
client_title = Bang! Howdy
editor_title = Bang! Howdy Editor
