#
# $Id$
#
# Configuration for the Bang! client/editor deployment

#
# The base URL for downloading and patching the client and the document root
# for said server

root_url = http://localhost
web_dir = pages

#
# The base URL for downloading the production client.
# download_root_url = http://s3download.banghowdy.com/bang

#
# The standard ports on which the server listens for client connections. These
# may be overridden on a server by server basis below.

server_ports = 47624, 443

#
# The public hostname and ports for the various town lobby servers.

# frontier_town.server_host = bang1.banghowdy.com
# frontier_town.server_ports = 47624

# indian_post.server_host = bang2.banghowdy.com
# indian_post.server_ports = 47624

#
# Various URLs that are needed by the client

doc_base_url = http://www.banghowdy.com/
bug_submit_url = http://www.banghowdy.com/hemiptera/submit.xhtml
new_account_url = http://www.banghowdy.com/register/register.wm
server_status_url = http://www.banghowdy.com/status.html
billing_url = https://billing.banghowdy.com/billing/checkpw.wm?susername=USERNAME&spassword=PASSWORD&from=select_type.wm

#
# S3 client upload configuration

# client_s3enable = true
# client_s3bucket = s3download.banghowdy.com
# client_s3id = AWS ID
# client_s3key = SECRET KEY

#
# Specifies the locale for this deployment. This is used to ensure that the
# same language specific name handling routines are used on client and server.

default_locale = en

#
# These are used by the installer and game launcher.

client_ident = client
client_title = Bang! Howdy
editor_title = Bang! Howdy Editor
viewer_title = Bang! Howdy Model Viewer

#
# The directory where we find our signing certificate

cert_dir = /export/threerings
