#
# $Id$
#
# Configuration for a Bang! server installation

#
# Identifies this server to the Account Action system.

server_name = bang

#
# Indicates which town is handled by this server. Valid values:
# frontier_town, indian_post, boom_town, ghost_town, and city_of_gold.

town_id = frontier_town

#
# The port on which the server listens for client connections.

# server_ports = 47624, 443

#
# These can be used to override server_name, town_id and server_ports for
# specific nodes. This is used in a clustered deployment where multiple nodes
# will run from the same deployment directory and need to identify themselves
# accordingly.

# NODENAME1.server_name = bang
# NODENAME1.town_id = frontier_town
# NODENAME1.server_ports = 4007
# NODENAME2.server_name = bang
# NODENAME2.town_id = indian_post
# NODENAME2.server_ports = 4008

#
# If this server is running as a part of a cluster, this value should be set to
# a shared secret that will be used to authenticate with other servers in the
# cluster. If it is left commented out, the server will run standalone.

# server_secret = Is it secret? Is it safe?

#
# The directory from which the server is run. Used to put log files in the
# proper location and things like that.

server_root = /export/bang

#
# Defines the directory into which any web applications will be installed. (And
# where they will locate their site-data directory).

webapp_dir = /export/threerings/webapps

#
# Defines the client authenticator used by the server.

server_auth = com.threerings.bang.server.ooo.OOOAuthenticator

#
# The default database mapping; all other definitions will inherit from
# this and need only be specified in cases where they differ from the
# defaults

db.default.driver = com.mysql.jdbc.Driver
db.default.url = jdbc:mysql://DBHOST:3306/bang
db.default.username = USERNAME
db.default.password = PASSWORD

#
# An example of an overridden database configuration

# db.userdb.username = USERNAME
# db.userdb.password = PASSWORD
# db.userdb.url = jdbc:mysql://USERDBHOST:3306/USERDB
# db.sitedb.url = jdbc:mysql://USERDBHOST:3306/USERDB

#
# Bits for the OOO authenticator

oooauth.login_url = /register/register.wm?from=%R
oooauth.access_denied_url = /register/access_denied.wm
