<?xml version="1.0" standalone="yes"?>
<!-- $Id$ -->
<!-- Defines the fringing rules for the various ground tiles. -->
<fringe>
  <tile type="DIRT" priority="10">
    <fringe name="mask1.png" mask="true"/>
  </tile>
  <tile type="BRUSH" priority="20">
    <fringe name="mask1.png" mask="true"/>
  </tile>
  <tile type="ROCKY" priority="30">
    <fringe name="mask1.png" mask="true"/>
  </tile>
  <tile type="SAND" priority="40">
    <fringe name="mask1.png" mask="true"/>
  </tile>
  <tile type="ROAD" priority="50">
    <fringe name="mask1.png" mask="true"/>
  </tile>
  <tile type="WATER" priority="60">
    <fringe name="mask1.png" mask="true"/>
  </tile>
</fringe>
