Howdy Pardner!

#if ($ucount > 1)
You have the following Bang! Howdy accounts registered with this email address:
#else
Your have registered the following Bang! Howdy account with this email address:
#end

#foreach ($user in $usernames)
$user
#end

You can login or reset your password at:

$url

Respectfully,

The Hands at the Triple-O Ranch
