Howdy Pardner!

Your Bang! Howdy user account password has been reset per your request.  The
new password is:

$password

Please change this password as soon as possible via the Account Management
pages at:

$url

Respectfully,

The Hands at the Triple-O Ranch
