Howdy Pardner!

Yer good friend '$from' has asked us to send ya an invitation to the Wild West
hijinks of Bang! Howdy. If ya think yer ready to sidle on out to the Ranch and
saddle up, head on over to this URL:

$refurl

Respectfully,

The Hands at the Triple-O Ranch
