Howdy Pardner!

Thanks fer registering for Bang! Howdy. To validate yer email address, please
visit the web page at:

$url

Note: if you are using Hotmail you may need to copy this link (select,
Ctrl-C) and paste it into your browser (Ctrl-V).

If you have questions or comments, please send an electronic telegram to:
support@bandhowdy.com

Happy Trails,

The Hands at the Triple-O Ranch
