/* CONTAINERS */
#top {
  background-image: url("../images/land_top.jpg");
  background-repeat: no-repeat;
  position: absolute;
  margin: 0px;
  padding:0px;
  top: 0px;
  left: 0px;
  width: 670px;
  height: 273px;
}

#bottom {
  background-image: url("../images/land_bottom.jpg");
  position: absolute;
  margin: 0px;
  padding:0px;
  top: 273px;
  left: 0px;
  width: 670px;
  height: 147px;
  overflow: hidden;
}

#screenshots {
  position: absolute;
  margin: 0px;
  padding:0px;
  top: 16px;
  left: 11px;
  width: 645px;
  height: 100px;
  overflow: hidden;
  text-align: left;
}

/* BUTTONS */
#launch a {
  position: absolute;
  width: 340px;
  height: 90px;
  top: 181px;
  left: 160px;
  text-decoration: none;
  border: none;
}

#launch a i { 
  visibility: hidden; 
}


a#playnow:hover { 
  background-image: url("../images/playbtn_hover.jpg"); 
  border: none;
}

/* LiNKS */

#about a {
  position: absolute;
  width: 102px;
  height: 13px;
  top: 395px;
  left: 221px;
  text-decoration: none;
}

#about a i { 
  visibility: hidden; 
}

a#aboutlink:hover { 
  background-image: url("../images/link_about.jpg"); 
  border: none;
}

#installhelp a {
  position: absolute;
  width: 78px;
  height: 13px;
  top: 395px;
  left: 341px;
  text-decoration: none;
}

#installhelp a i { 
  visibility: hidden; 
}

a#installlink:hover { 
  background-image: url("../images/link_install.jpg"); 
  border: none;
}

/* LOGOS */

#threerings a {
  	position: absolute;
  	top: 8px;
  	left: 585px;
	width: 75px;
	height: 30px;
  	text-decoration: none;
  }

#threerings a i { 
	visibility: hidden; 
}

#banghowdy a {
  	position: absolute;
  	top: 10px;
  	left: 15px;
	width: 175px;
	height: 100px;
  	text-decoration: none;
  }

#banghowdy a i { 
	visibility: hidden; 
