# blosxom  --  resource file for the Debian GNU/Linux package 
#              of the blosxom weblog application
#
# This file is sourced by /usr/lib/cgi-bin/blosxom. 
#
# Storing values here instead of directly in the Perl code permits 
# easier upgrades of the package without risks of losing these very 
# configuration settings. 
#
# Whichever variable ought to get adjusted can be set here. Values in
# cgi script act as default which may be overwritten from here.
#
# The Debian GNU/Linux extensions to blosxom are 
# Copyright 2003  Dirk Eddelbuettel <edd@debian.org> and GPL'ed

# Blosxom
# Author: Rael Dornfest <rael@oreilly.com>
# Version: 2.0
# Home/Docs/Licensing: http://www.raelity.org/apps/blosxom/

# --- Configurable variables -----

# What's this blog's title?
$blog_title = "Bang! Howdy&#8482;";

# What's this blog's description (for outgoing RSS feed)?
$blog_description = "Tales from the Triple O ranch.";

# What's this blog's primary language (for outgoing RSS feed)?
$blog_language = "en";

# Where are this blog's entries kept?
$datadir = "/export/ship/bang/data/blosxom";

# What's my preferred base URL for this blog (leave blank for automatic)?
$url = "http://www.banghowdy.com";

# Should I stick only to the datadir for items or travel down the
# directory hierarchy looking for items?  If so, to what depth?
# 0 = infinite depth (aka grab everything), 1 = datadir only, n = n levels down
# $depth = 0;

# How many entries should I show on the home page?
$num_entries = 5;

# What file extension signifies a blosxom entry?
# $file_extension = "txt";

# What is the default flavour?
# $default_flavour = "html";

# --- Plugins (Optional) -----

# Where are my plugins kept?
$plugin_dir = "/etc/blosxom/plugins";

# Where should my modules keep their state information?
$plugin_state_dir = "/var/lib/blosxom/state";


# --- Static Rendering -----

# Where are this blog's static files to be created?
$static_dir = "/export/ship/bang/pages";

# What's my administrative password (you must set this for static rendering)?
$static_password = "b\@ngbl0sx0m";

# What flavours should I generate statically?
@static_flavours = qw/html rss/;

# Should I statically generate individual entries?
# 0 = no, 1 = yes
$static_entries = 1;

# ------------ leave this last line

1;

