#
# $Id$
#
# Configuration for the Bang! client/editor deployment
#
# *IMPORTANT* This file is shipped to the client. Be careful what you put in here.

#
# The standard ports on which the server listens for client connections. These
# may be overridden on a server by server basis below.

server_ports = 47624, 443

#
# The public hostname and ports for the various town lobby servers.

# frontier_town.server_host = bang1.banghowdy.com
# frontier_town.server_ports = 47624

# indian_post.server_host = bang2.banghowdy.com
# indian_post.server_ports = 47624

#
# Various URLs that are needed by the client

doc_base_url = http://www.banghowdy.com/
bug_submit_url = http://www.banghowdy.com/hemiptera/submit.xhtml
new_account_url = http://www.banghowdy.com/register/register.wm
server_status_url = http://www.banghowdy.com/status.html
terms_of_service_url = http://www.banghowdy.com/support/tos.html
billing_url = https://billing.banghowdy.com/billing/checkpw.wm?susername=USERNAME&spassword=PASSWORD&from=select_type.wm
pass_url = https://billing.banghowdy.com/billing/checkpw.wm?susername=USERNAME&spassword=PASSWORD&from=select_pass.wm?pass=

#
# Specifies the locale for this deployment. This is used to ensure that the
# same language specific name handling routines are used on client and server.

default_locale = en

#
# The type of payment system used by this deployment: coins, onetime

payment_type = onetime
