# -*- mode: sh -*-
#
# $Id$
#
# Script configuration for this Bang installation.

# General configurations
BANG_USER=bang
LOG_EMAIL=bang-logs@DOMAIN
STATS_EMAIL=bang-stats@DOMAIN
LOGLEVEL=info

# These is passed to the various JVMs
SERVER_MEMORY=384M
TOOL_MEMORY=384M

# Locate the mail program
MAIL=/usr/bin/mail
if [ ! -f $MAIL ]; then
    MAIL=/bin/mail
fi
