#
# $Id$
#
# Configuration for a Bang! server installation

#
# Various server identification and configuration for each node in our set of
# server clusters.

frontier_town.town_id = frontier_town
frontier_town.server_host = localhost

# indian_post.town_id = indian_post
# indian_post.server_host = bang2.banghowdy.com

# ft_game1.town_id = frontier_town
# ft_game1.server_host = bang3.banghowdy.com

# itp_game1.town_id = indian_post
# itp_game1.server_host = bang4.banghowdy.com

#
# If this server is running as a part of a cluster, this value should be set to
# a shared secret that will be used to authenticate with other servers in the
# cluster. If it is left commented out, the server will run standalone.

# server_secret = Is it secret? Is it safe?

#
# The directory from which the server is run. Used to put log files in the
# proper location and things like that.

server_root = /export/bang

#
# Defines the client authenticator used by the server.

server_auth = com.threerings.bang.server.ooo.OOOAuthenticator

#
# Auto-restart server if code changes (used on dev server)

# auto_restart = false

#
# The default database mapping; all other definitions will inherit from
# this and need only be specified in cases where they differ from the
# defaults

db.default.driver = com.mysql.jdbc.Driver
db.default.url = jdbc:mysql://DBHOST:3306/bang
db.default.username = USERNAME
db.default.password = PASSWORD

# These overrides are needed for the OOO user database
db.userdb.url = jdbc:mysql://USERDBHOST:3306/ooouser
db.sitedb.url = jdbc:mysql://USERDBHOST:3306/ooouser

#
# Bits for the OOO authenticator

oooauth.login_url = /register/register.wm?from=%R
oooauth.access_denied_url = /register/access_denied.wm

#
# Chat whitelist dictionaries

whitelist_dicts = en-us.wordlist
