#content {
  background-image: url("../images/download_background.jpg");
  background-repeat: no-repeat;
}

#account { 
  position: absolute;
  top: 32px;
  left: 120px;
  width: 480px;  
  height: 25px;
  text-align: center;
}

#account a {
  color: #960000;
}


#downwin {
  position: absolute;
  top: 40px;
  left: 120px;
  width: 460px; 
  height: 360px;
  vertical-align: middle;
}

#downwin a {
  color: #960000;
}

#launchoption {
  position: absolute;
  background-image: url("../images/link_launchoption.gif");
  background-repeat: no-repeat;
  top: 475px;
  left: 20px;
  width: 540px;
  height: 18px; 
  text-align: center;
}

#click a {
  	position: absolute;
  	width: 43px;
    height: 20px;
    top: 256px;
    left: 45px;
  	text-decoration: none;
}

#click a i { 
	visibility: hidden; 
} 

a#herelink:hover { 
    background: url("../images/link_here.jpg") no-repeat top left;
	width: 42px;
    height: 22px;
  	overflow: hidden;
} 

/* LOGOS */

#threerings a {
  	position: absolute;
  	top: 375px;
  	left: 20px;
	width: 55px;
	height: 30px;
  	text-decoration: none;
  }

#threerings a i { 
	visibility: hidden; 
}

#banghowdy a {
  	position: absolute;
  	top: 20px;
  	left: 10px;
	width: 135px;
	height: 60px;
  	text-decoration: none;
  }

#banghowdy a i { 
	visibility: hidden; 
}
