body {
  font-family: Times New Roman, Times, serif;
}

td {
  font-family: Times New Roman, Times, serif;
}

.fancy {
  font-family: Times New Roman, Times, serif;
  font-size: 36px;
}

.small {
  font-family: Times New Roman, Times, serif;
  font-size: 11px;
}

li {
  margin-bottom: 5px
}
