#content {
  background-image: url("../images/launch_background.jpg");
  background-repeat: no-repeat;
}

#downtitle {
  position: absolute;
  top: 105px;
  left: 40px;
  width: 490px;
  height: 20px; 
  text-align: center;
}

#downwin {
  position: absolute;
  top: 120px;
  left: 30px;
  width: 490px; 
  height: 360px;
  vertical-align: middle;
}

#downwin a {
  color: #960000;
}

#launchoption {
  position: absolute;
  background-image: url("../images/link_launchoption.gif");
  background-repeat: no-repeat;
  top: 475px;
  left: 20px;
  width: 540px;
  height: 18px; 
  text-align: center;
}

#click a {
  	position: absolute;
  	width: 40px;
    height: 18px;
    top: 475px;
    left: 434px;
  	text-decoration: none;
}

#click a i { 
	visibility: hidden; 
} 

a#herelink:hover { 
    background: url("../images/link_here.gif") no-repeat top left;
	width: 40px;
    height: 18px;
  	overflow: hidden;
} 
