#content {
  background-image: url("../images/launch_background.jpg");
  background-repeat: no-repeat;
}

#downtitle {
  position: absolute;
  top: 115px;
  left: 10px;
  width: 490px;
  height: 20px; 
  text-align: center;
}

#downwin {
  position: absolute;
  top: 139px;
  left: 10px;
  width: 490px; 
  height: 360px;
}

#downwin a {
  color: #960000;
}
