#content {
  background-image: url("../images/launch_background.jpg");
  background-repeat: no-repeat;
}

#downtitle {
  position: absolute;
  top: 105px;
  left: 40px;
  width: 490px;
  height: 20px; 
  text-align: center;
}

#downwin {
  position: absolute;
  top: 120px;
  left: 30px;
  width: 490px; 
  height: 360px;
  vertical-align: middle;
}

#downwin a {
  color: #960000;
}
