/* CONTAINERS */
#top {
  background-image: url("../images/land_top.jpg");
  background-repeat: no-repeat;
  position: absolute;
  margin: 0px;
  padding:0px;
  top: 0px;
  left: 0px;
  width: 589px;
  height: 320px;
}

#bottom {
  background-image: url("../images/land_bottom.jpg");
  position: absolute;
  margin: 0px;
  padding:0px;
  top: 320px;
  left: 0px;
  width: 589px;
  height: 180px;
  overflow: hidden;
}

#screenshots {
  position: absolute;
  margin: 0px;
  padding:0px;
  top: 46px;
  left: 11px;
  width: 589px;
  height: 100px;
  overflow: hidden;
  text-align: left;
}

/* BUTTONS */
#launch a {
  position: absolute;
  width: 339px;
  height: 93px;
  top: 248px;
  left: 121px;
  text-decoration: none;
  border: none;
}

#launch a i { 
  visibility: hidden; 
}

a#playnow { 
  background-image: url("../images/playbtn.jpg"); 
  border: none;
}

a#playnow:hover { 
  background-image: url("../images/playbtn_hover.jpg"); 
  border: none;
}

/* LiNKS */

#about a {
  position: absolute;
  width: 107px;
  height: 15px;
  top: 474px;
  left: 187px;
  text-decoration: none;
}

#about a i { 
  visibility: hidden; 
}

a#aboutlink:hover { 
  background-image: url("../images/link_about.jpg"); 
  border: none;
}

#installhelp a {
  position: absolute;
  width: 81px;
  height: 15px;
  top: 474px;
  left: 307px;
  text-decoration: none;
}

#installhelp a i { 
  visibility: hidden; 
}

a#installlink:hover { 
  background-image: url("../images/link_install.jpg"); 
  border: none;
}

/* LOGOS */

#threerings a {
  	position: absolute;
  	top: 10px;
  	left: 510px;
	width: 75px;
	height: 30px;
  	text-decoration: none;
  }

#threerings a i { 
	visibility: hidden; 
}

#banghowdy a {
  	position: absolute;
  	top: 10px;
  	left: 15px;
	width: 175px;
	height: 100px;
  	text-decoration: none;
  }

#banghowdy a i { 
	visibility: hidden; 
