/* CONTAINERS */
#top {
  background-image: url("../images/land_top.jpg");
  background-repeat: no-repeat;
  position: absolute;
  margin: 0px;
  padding:0px;
  top: 0px;
  left: 0px;
  width: 920px;
  height: 271px;
}

#bottom {
  background-image: url("../images/land_bottom.jpg");
  position: absolute;
  margin: 0px;
  padding:0px;
  top: 271px;
  left: 0px;
  width: 920px;
  height: 229px;
  overflow: hidden;
}

#screenshots {
  position: absolute;
  margin: 0px;
  padding:0px;
  top: 37px;
  left: 7px;
  width: 906px;
  height: 165px;
  overflow: hidden;
  text-align: center;
}

/* BUTTONS */
#launch a {
  position: absolute;
  width: 352px;
  height: 83px;
  top: 210px;
  left: 284px;
  text-decoration: none;
  border: 1px solid;
}

#launch a i { 
  visibility: hidden; 
}

a#playnow { 
  background-image: url("../images/play.png"); 
  border: none;
}

a#playnow:hover { 
  background-image: url("../images/play_hover.png"); 
  border: none;
}
