#content {
  background-image: url("../images/launch_background.jpg");
  background-repeat: no-repeat;
}

#launchtitle {
  background-image: url("../images/title_launch.gif");
  background-repeat: no-repeat;
  position: absolute;
  top: 110px;
  left: 10px;
  width: 490px;
  height: 20px; 
  border: 1px solid;
}

#launchwin {
  position: absolute;
  top: 130px;
  left: 10px;
  width: 490px; 
  height: 364px;
}

#needjava {
  padding: 10px 20px;
  color: #492600;
}

#needjava a {
  color: #960000;
}

#needtitle {
  font-size: 16px;
  font-weight: bold;
  font-variant: small-caps;
}

#towns a {
  background-image: url("../images/launch_towns.jpg");
  position: absolute;
  top: 170px;
  left: 510px;
  width: 200px; 
  height: 175px;
}

#screenshots a {
  background-image: url("../images/launch_screens.jpg");
  position: absolute;
  top: 170px;
  left: 710px;
  width: 200px; 
  height: 175px;
}

#info {
  position: absolute;
  top: 380px;
  left: 530px;
  width: 372px; 
  height: 98px;
  color: #4c2602;
}

#info a {
  color: #960000;
  font-size: 9px;
}

#info p {
  padding: 0px;
  margin: 10px 0px 0px 0px;
}
