#content {
  background-image: url("../images/launch_background.jpg");
  background-repeat: no-repeat;
}

#launchwin {
  position: absolute;
  top: 98px;
  left: 40px;
  width: 490px; 
  height: 364px;
}

#needjava {
  padding: 10px 20px;
  color: #492600;
}

#needjava a {
  color: #960000;
}

#needtitle {
  font-size: 16px;
  font-weight: bold;
  font-variant: small-caps;
}
