#account { 
  position: absolute;
  top: 82px;
  left: 10px;
  width: 540px;  
  height: 25px;
  text-align: center;
}

#account a {
  color: #960000;
}


/* LOGOS */

#threerings a {
  	position: absolute;
  	top: 10px;
  	left: 520px;
	width: 55px;
	height: 30px;
  	text-decoration: none;
  }

#threerings a i { 
	visibility: hidden; 
}

#banghowdy a {
  	position: absolute;
  	top: 10px;
  	left: 215px;
	width: 135px;
	height: 60px;
  	text-decoration: none;
  }

#banghowdy a i { 
	visibility: hidden; 
}
