//
// $Id$
//
// A stylesheet used when rendering HTML in the client

body {
  color: #553817;
  font-family: serif;
}

table {
  color: #553817;
  font-family: serif;
}

p {
  color: #553817;
  font-family: serif;
}

.headline { 
  font-variant: "Old Town Wide";
  font-size: 36;
}

.smheadline { 
  font-variant: "Old Town Wide";
  font-size: 30;
}

.subhead { 
  font-variant: "Dom Casual";
  font-size: 24;
}

.cathead { 
  font-variant: "Dom Casual";
  font-size: 18;
}

.caption { 
  font-family: "Helvetica";
  font-size: 10;
}

.help { 
  font-family: sansserif;
  font-size: 14;
}
